<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    {{!-- <script src="../../script/topicScript.js" defer></script> --}}
    <title>ForumAnon</title>
  </head>
  <body>
    <div class="containerTitle">
      <h1>ForumAnon</h1>
      <h3>Where people come to share ideas!</h3>
            <a href="/">Thread List</a>
     <a class="btn" href="/create/thread">Create a thread!</a>
    </div>
    {{{body}}}
  </body>
</html>