<main>
    <h1>Reply</h1>
    <h3>Content:</h3>
    <div class="form">
      <form action="/create/comment/{{threadId}}" method="POST">
        <label for="comment">Comment</label>
        <textArea id="comment" name="comment" placeholder="Enter response here"></textArea>
        <input type="submit" value="Submit" />
      </form>
    </div>
</main>