<main>
    <h1>Reply</h1>
    <form action="/create/comment" method="POST">
        <h3>Content:</h3>
        <textArea id="comment" name="comment" placeholder="Enter response here"></textArea>
        <input type="submit" value="Submit" />
      </form>
    </div>
</main>