<main>
    <h1>Reply</h1>
    <form action="/create/comment/{{_id}}" method="POST">
        <h3>Content:</h3>
        <h4>{{threadName}}</h4>
        <h5>{{_id}}</h5>
        <textArea id="comment" name="comment" placeholder="Enter response here"></textArea>
        <input type="submit" value="Submit" />
      </form>
    </div>
</main>