<main>
    <h1>Create a Thread</h1>
    <h2>Topic Name</h2>
    <form action="/create/thread" method="POST">
        <h3>Thread Name:</h3>
        <input id="threadName" name="threadName"
          type="text"
          placeholder="Enter thread name here"
        />
        <h3>Content:</h3>
        <textArea id="threadContent" name="threadContent" placeholder="Enter content here"></textArea>
        <input type="submit" value="Submit" />
      </form>
    </div>
</main>