<main>
    <h1>Edit Comment</h1>
    <h2>Topic Name</h2>
    <form action="/edit/comment/{{_id}}" method="POST">
        <h3>Content:</h3>
        <input id="comment" name="comment" value="{{comment}}"></input>
        <input type="submit" value="Submit" />
      </form>
    </div>
</main>