<main>
    <h1>Edit Thread</h1>
    <h2>Topic Name</h2>
    <form action="/edit/thread/{{_id}}" method="POST">
        <h3>Thread Name:</h3>
        <input id="threadName" name="threadName" type="text" value="{{threadName}}"/>
        <h3>Content:</h3>
        <input id="threadContent" name="threadContent" value="{{threadContent}}"></input>
        <input type="submit" value="Submit" />
      </form>
    </div>
</main>