<main>
  <div class="containerTitle">
    <h1>Login</h1>
  </div>
  {{#if error}}
  <div class="thread" id="notifications">
    {{error}}
  </div>
  {{/if}}
  <div class="thread">
    <form action="/user/login" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <br />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <br />
      <input type="submit" id="register" value="Login" />
    </form>
  </div>
</main>