<main>
  <div class="containerTitle">
    <h1>Register Account</h1>
  </div>
  <div class="thread">
    <p>The username and password require a minimum of 5 characters.</p>
    <form action="/user/register" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <br />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <br />
      <label for="repeatPassword">Re-Password</label>
      <input type="password" id="repeatPassword" name="repeatPassword" />
      <br />
      <input type="submit" id="register" value="Register" />
    </form>
  </div>
</main>