<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../script/topicScript.js" defer></script>
    <title>ForumAnon</title>
  </head>
  <body>
    <div id="title">
      <h1>ForumAnon</h1>
      <h3>Where people come to share ideas</h3>
    </div>

    <div id="topic">
      <h2>r/InternetTechnobabble</h2>
      <button id="createPost">Create Post</button>
      <form action="/add/thread" id="threadInputField">
        <h3>Thread Name:</h3>
        <input
          type="text"
          id="threadNameInput"
          placeholder="Enter thread name here"
        />
        <h3>Content:</h3>
        <input id="threadPostInput" placeholder="Enter content here" />
        <input type="submit" id="submitThread" value="Submit" />
      </form>
    </div>
    <div id="threads">{{{threads}}}</div>
  </body>
</html>

<!-- thread handlebars -->
<!-- <div id="thread">
  <a id="threadName" href="./thread.html"
    ><h3 id="threadNameH3">
      has anyone ever been so far as decided to use even go want to do
      look more like?
    </h3></a
  >
  <h4 id="repliesH5">Replies|</h4>
  <h4 id="repliesOutput">9</h4>
</div> -->
